.content{
    margin-top: 50px;
   }

   ion-button{
    --background: rgb(3, 116, 8) ;

}

ion-card{
    width: 100%;
    background-color: rgba(255, 255, 255, 0.6);
    text-align: center;
    padding: 10px;
    margin-left: 0px;
}

ion-item{
    --background: rgba(255, 255, 255, 0.0);
    font-weight: bold;

}




 