<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title text-center>
      Mochileame
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-grid fixed>
    <form #postForm="ngForm" (ngSumbit)="crearpost(postForm)">
      <ion-row>
        <ion-col size-md="6" offset-md="3">
          <ion-card>
            <ion-card-header>
              <ion-card-title>CREA UN NUEVO TEMA </ion-card-title>
            </ion-card-header>
            <ion-card-content>
              <ion-item>
                <ion-label position="floating">Título</ion-label>
                <ion-input type="text" [(ngModel)]="titulo" name="titulo"></ion-input>
              </ion-item>  
              <ion-item>
                            
              </ion-item> 

              <textarea [(ngModel)]="textarea" name="textarea" rows="15" cols="65">Escribe aquí tu mensaje</textarea>
      
            </ion-card-content>
            
            <ion-button type="submit" expand="full" (click)="crearpost(postForm)">
            Enviar</ion-button>
          </ion-card>


        </ion-col>
      </ion-row>


     
    </form>


    <ion-row>  <ion-col size-md="6" offset-md="3">


      <div class="container">
        <div class="row">
            <div class="col-md-6 offset-md-3">
                <h3>Elije una foto</h3>            
                <div class="form-group">
                    <input type="file" name="image" (change)="fileProgress($event)" />
                </div>
                <div *ngIf="fileUploadProgress">
                    Upload progress: {{ fileUploadProgress }}
                </div>
                <div class="image-preview mb-3" *ngIf="previewUrl">
                    <img [src]="previewUrl" height="300" />                 
                </div>
     
                <div class="mb-3" *ngIf="uploadedFilePath">
                    {{uploadedFilePath}}
                </div>
                 
                <div class="form-group">
                    <button class="btn btn-primary"  (click)="onSubmit()">Guardar foto</button>
                    
                </div>
            </div>
        </div>
    </div>
  
    </ion-col> </ion-row> 
    
  </ion-grid>
</ion-content>