<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title text-center>
      Mochileame
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>

  <ion-grid fixed>
    <form #scoreForm="ngForm" (ngSumbit)="pushScore(scoreForm)">
      <ion-row>
        <ion-col size-md="6" offset-md="3">
          <ion-card>
            <ion-card-header>
              <ion-card-title>Datos del usuario</ion-card-title>
            </ion-card-header>
            <ion-card-content>
              <ion-item>
                <ion-label>Username: {{user.username}}</ion-label>
              </ion-item>
              <ion-item>
                <ion-label>Nombre: {{user.name}}</ion-label>
              </ion-item>
              <ion-item>
                <ion-label>Apellidos: {{user.lastname}}</ion-label>
              </ion-item>
              <ion-item>
                <ion-label>Fecha de nacimiento: {{user.dateofbirth | date: 'dd/MM/yyyy'}}</ion-label>
              </ion-item>
              <ion-item>
                <ion-label>Nacionalidad: {{user.nationality}}</ion-label>
              </ion-item>
              <ion-item>
                <ion-label>Género: {{user.gender}}</ion-label>
              </ion-item>
            </ion-card-content>
          </ion-card>


        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col size-md="6" offset-md="3">
          <ion-card>
            <ion-card-header>
              <ion-card-title>Biografía</ion-card-title>
            </ion-card-header>
            <ion-card-content>
              <ion-textarea readonly="true" name="biography">{{user.biography}}</ion-textarea>
            </ion-card-content>
          </ion-card>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size-md="6" offset-md="3">
          <ion-card>
            <ion-card-header>
              <ion-card-title>Hobbies</ion-card-title>
            </ion-card-header>
            <ion-card-content>
              <ion-item *ngFor="let hobbie of user.hobbies">
                <ion-label>{{hobbie}}</ion-label>
              </ion-item>


            </ion-card-content>
          </ion-card>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size-md="6" offset-md="3">
          <ion-card>
            <ion-card-header>
              <div *ngIf="score != null; else scori">
                <ion-card-title>Puntuación: {{ score | number : '1.2-2' }}/5</ion-card-title>
              </div>
              <ng-template #scori>
                <ion-card-title>Puntuación: Aún no se ha puntuado</ion-card-title>
              </ng-template>

            </ion-card-header>
            <ion-card-content>
              <div *ngIf="following != false; else notFollowing">
                <ion-item>
                  <ion-select multiple="false" placeholder="Puntua!" okText="Ok" cancelText="Cancelar" type="text"
                    [(ngModel)]="score" name="score">
                    <ion-select-option value="1">1</ion-select-option>
                    <ion-select-option value="2 ">2</ion-select-option>
                    <ion-select-option value="3">3</ion-select-option>
                    <ion-select-option value="4">4</ion-select-option>
                    <ion-select-option value="5">5</ion-select-option>
                  </ion-select>
                </ion-item>
                <ion-item>
                  <ion-button expand="block" type="submit" class="ion-no-margin" (click)="pushScore(scoreForm)">
                    Puntuar</ion-button>
                </ion-item>
              </div>
              <ng-template #notFollowing>
              </ng-template>
        

            </ion-card-content>
          </ion-card>
        </ion-col>
      </ion-row>


      <div *ngIf="following == false; else unfollow">
        <ion-row>
          <ion-col size-md="6" offset-md="3">
            <div class="ion-padding">
              <ion-button expand="block" type="submit" class="ion-no-margin" (click)="follow(user._id)">
                Seguir</ion-button>
            </div>

          </ion-col>
        </ion-row>
      </div>

      <ng-template #unfollow>
        <ion-row>
          <ion-col size-md="6" offset-md="3">
            <div class="ion-padding">
              <ion-button expand="block" type="submit" class="ion-no-margin" (click)="ufollow(user._id)">
                Dejar de seguir</ion-button>
            </div>
          </ion-col>
        </ion-row>
      </ng-template>

    </form>
    <ion-card-content>
    </ion-card-content>
  </ion-grid>
</ion-content>