<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title text-center>
      Mochileame
    </ion-title>
  </ion-toolbar>
</ion-header>


<ion-content>
  <ion-grid fixed>
    <form #grupoForm="ngForm" >
      <ion-row>
        <ion-col size-md="9" offset-md="2">
          <ion-card>
            <ion-card-header>
                <ion-title text-center>
                    BIENVENIDOS
            
                  </ion-title>
                            
                <ion-card-title> {{groupActual.name}}</ion-card-title>
              </ion-card-header>
              <ion-card-content>
                <ion-card-subtitle> ¡¡Vamos a {{groupActual.destination}}!!</ion-card-subtitle>
                <ion-card-subtitle> Grupo creado por:  {{userCreador.username}}</ion-card-subtitle>
                <ion-card-subtitle>Fecha inicio del viaje: {{dateFin}}</ion-card-subtitle>
                <ion-card-subtitle>Fecha aproximada del fin: {{dateIn}}</ion-card-subtitle>
                <ion-card-subtitle>Hobbies del grupo: {{groupActual.hobbies}}</ion-card-subtitle>              
              

            
          
              
                               
                
                  <ion-label position="floating">LISTA PARTICIPANTES</ion-label>
                  <div *ngFor="let user of listaUsuariosDentro">
                    <td>{{user.username}}</td>
                                                                    
                  </div>
                 
                  <img [src]="imageToShow"
                  alt="Place image title"
                  *ngIf="!isImageLoading; else noImageFound">
                <ng-template #noImageFound>
                  <img src="fallbackImage.png" alt="Fallbackimage">
                </ng-template>

                  <form #form="ngForm" (ngSubmit)="DelUserGroup()" method="post">
                <ion-card [hidden]=show>
                          <ion-button type="submit" expand="full">Salir del grupo</ion-button>                       
              
                          </ion-card>
                    </form>
             
          
            </ion-card-content>

            
          </ion-card>


        </ion-col>
      </ion-row>


     
    </form>
    
  </ion-grid>
</ion-content>