<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title text-center>
      Mochileame
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-grid fixed>
    <form #userForm="ngForm" (ngSumbit)="updateProfileDetails(userForm)">
      <ion-row>
        <ion-col size-md="6" offset-md="3">
          <ion-card>
            <ion-card-header>
              <ion-card-title>Datos del usuario</ion-card-title>
            </ion-card-header>
            <ion-card-content>
              <ion-item>
                <ion-label position="floating">Nombre</ion-label>
                <ion-input type="text" [(ngModel)]="name" name="name"></ion-input>
              </ion-item>
              <ion-item>
                <ion-label position="floating">Apellidos</ion-label>
                <ion-input type="text" [(ngModel)]="lastname" name="lastname"></ion-input>
              </ion-item>
              <ion-item>
                <ion-label position="floating">Fecha de nacimiento</ion-label>
                <ion-datetime display-format="DD.MM.YYYY" type="text" [(ngModel)]="dateofbirth" name="dateofbirth">
                </ion-datetime>
              </ion-item>
              <ion-item>
                <ion-label position="floating">Nacionalidad</ion-label>
                <ion-input type="text" [(ngModel)]="nationality" name="nationality"></ion-input>
              </ion-item>
              <ion-item>
                <ion-label position="floating">Genero</ion-label>
                <ion-select multiple="false" placeholder="Selecciona un genero" type="text" [(ngModel)]="gender"
                  name="gender">
                  <ion-select-option value="Masculino">Masculino</ion-select-option>
                  <ion-select-option value="Femenino">Femenino</ion-select-option>
                </ion-select>
              </ion-item>
            </ion-card-content>
          </ion-card>


        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col size-md="6" offset-md="3">
          <ion-card>
            <ion-card-header>
              <ion-card-title>Biografía</ion-card-title>
            </ion-card-header>
            <ion-card-content>
              <ion-item>
                <ion-textarea placeholder="Describete de la mejor forma posible :)" type="text" [(ngModel)]="biography"
                  name="biography"></ion-textarea>
              </ion-item>
            </ion-card-content>
          </ion-card>


        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size-md="6" offset-md="3">
          <ion-card>
            <ion-card-header>
              <ion-card-title>Hobbies</ion-card-title>
            </ion-card-header>
            <ion-card-content>
              <ion-item>
                <ion-select multiple="true" placeholder="Selecciona tus hobbies favoritos" okText="Ok"
                  cancelText="Cancelar" type="text" [(ngModel)]="hobbies" name="hobbies">
                  <ion-select-option value="Deportes">Deportes</ion-select-option>
                  <ion-select-option value="Tecnología ">Tecnología</ion-select-option>
                  <ion-select-option value="Animales">Animales</ion-select-option>
                  <ion-select-option value="Gastronomía">Gastronomía</ion-select-option>
                </ion-select>
              </ion-item>


            </ion-card-content>
          </ion-card>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col size-md="6" offset-md="3">
          <div class="ion-padding">
            <ion-button expand="block" type="submit" class="ion-no-margin" (click)="updateProfileDetails(userForm)">
              Listo</ion-button>
          </div>

        </ion-col>
      </ion-row>


    </form>
    <ion-card-content>
    </ion-card-content>
  </ion-grid>
</ion-content>