
  
  div {
    background-color: inherit;
    border: 0px;
  }
  
  ion-card-header {
    background-color: rgb(210, 253, 145);
    border-radius: 10px 10px 0px 0px;
  }
  
  ion-card-content {
    border-radius: 0px 0px 10px 10px;
  }

  ion-button{
    --background: #a0e420;

  }
  .bg-img{
    background-image: url("../../../assets/img/fondo.jpg");
    background-repeat: no-repeat;
    background-position: center;
  }




