<ion-header>
  <ion-toolbar>
    <ion-title>home</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-list>

    <div ng-repeat="TravelGroup in listaTravelGroups">
      <ion-item class="item-stable"
                ng-click="toggleGroup(group)"
                ng-class="{active: isGroupShown(group)}">
          <div class="row">
              <div class="col">
              
              </div>
              <div class="col col-80 listHead">{{TravelGroup.name}}</div>
              
              </div>
            </div>
        </ion-item>
 

    </div>
  </ion-list>

</ion-content>
