<ion-grid>
    <ion-row>
      <ion-col col-12>This column will take 12 columns</ion-col>
    </ion-row>


     
<ion-content class="item-text-wrap card">
      
  <div *ngFor="let travelGroup of listaTravelGroups">
  <ion-card>

    <ion-item>
      <ion-avatar item-start>
          <img src="../../imagesTravelGroup/Artwork_de_vuelo.png"/>
        
      </ion-avatar>
      <div class="item">{{travelGroup.name}}</div>
    </ion-item>
  
    <ion-card-content>
      <p>Destino : {{travelGroup.destination}}</p>
    </ion-card-content>
  
    <ion-row>
      <ion-col>
        <button ion-button icon-start clear small>
          <ion-icon name="thumbs-up"></ion-icon>
          <div>Número de usuarios: {{travelGroup.users.length}}</div>
        </button>
      </ion-col>
      <ion-col>
        
            <button ion-button icon-start clear small (click)="addUserInGroup(travelGroup)">
          <ion-icon name="text"></ion-icon>
          <div>¡Únete!</div>
        </button>
      </ion-col>
      <ion-col align-self-center text-center>
        <button ion-button icon-start clear small>
          <ion-icon name="text"></ion-icon>
          <div>Entrar a cotillear</div>
        </button>
      </ion-col>
    </ion-row>
  
  </ion-card>

</div>

</ion-content>



    <!-- <ion-list>

      <div ng-repeat="object in listaTravelGroups">
        <ion-item class="item-stable"
                  ng-click="toggleGroup(group)"
                  ng-class="{active: isGroupShown(group)}">
            <div class="row">
                <div class="col">
                    <div class="custIcon"><img ng-src="{{group.iconURL}}" /></div>
                </div>
                <div class="col col-80 listHead">{{object.name}}</div>
                  <div class="col"><div class="item-icon-right"><i class="icon" ng-class="isGroupShown(group) ? 'ion-ios-arrow-up' : 'ion-ios-arrow-down'"></i></div>
                </div>
          </ion-item>
  

      </div>
    </ion-list> -->

<!-- </ion-content> -->
