<ion-app>
      <ion-content>
          <ion-grid fixed>
            <ion-row >
              <ion-col size-md="6" offset-md="3">
                <ion-card>
                  <ion-card-header>
                    <ion-card-title>LOGIN</ion-card-title>
                  </ion-card-header>
                  <ion-card-content>
                    <ion-item>
                      <ion-label position="floating">Nombre</ion-label>
                      <ion-input></ion-input>
                    </ion-item>
                    <ion-item>
                      <ion-label position="floating">Contraseña</ion-label>
                      <ion-input></ion-input>
                    </ion-item>
                    
                  
                   
                  </ion-card-content>

                                  
                </ion-card>
                <button ion-button large>Login</button>
                    
  
  
             
      
              </ion-col>
            </ion-row>
          </ion-grid>
    
          
    

</ion-content>

</ion-app>